* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: #333;
    line-height: 1.5;
}

:root {
    --color-primario: #004080;
    --color-dos: #ffd500;
    --color-detalles: #ffffff;
    --color-textooscuro: #222;
    --texto-claro: #666;

}


.reparacion {
    background-color:var(--color-primario);
    padding: 30px;
    border-radius: 50px;
    max-width: 600px;
    margin: 40px auto;
    color: #f1f1f1;
}

.reparacion h1 {
    text-align: center;
    color:var(--color-detalles) ;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

.formulario input[type="text"],
.formulario textarea,
.formulario select,
.formulario input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.botton {
    margin-top: 20px;
    background-color: var(--color-dos);
    color:var(--color-primario);
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    background-image: url('borrR.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
}

.form-container {
    position: relative;
    z-index: 1;
    max-width: 500px;
    margin: 50px auto;
    background-color: var(--color-primario);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

